DB_USER=<db_username>
DB_PASSWORD=<db_password>
DB_PORT=<db_port>
DB_HOST=<db_host>
DB_NAME=<db_name>

# You can change the 'admin' string, which will be the admin page url
ADMIN_PAGE_PATH="admin/"

# Change to 'production' for production 
APP_ENV=development

# Change as required
# If multiple hosts, specify separating with comma. e.g. host_1,host_2,host3
ALLOWED_HOSTS=*

# To be replaced with production secret key
DJANGO_SECRET_KEY="#qt5em^q&!(-co5_f_6$evf=pdt(=0^r%6%oh!szlso2!*1cd!"
